.steps-list
	display flex
	justify-content center
	margin-bottom 50px
	&__item
		margin 0 20px
		font-size 13px
		font-weight bold
		text-align center
		text-transform uppercase
		color #dae8d5
		&.active
			color brandColor
		&-num
			margin-bottom 5px