.steps-list
	display flex
	justify-content center
	margin-bottom 50px
	&__item
		font-size 13px
		font-weight bold
		text-transform uppercase
		color #dae8d5
		@media tablet_desktop
			margin 0 20px
			text-align center
		@media phone
			display flex
			margin 0 7px
		&.active
			color brandColor
		&-num
			@media tablet_desktop
				margin-bottom 5px
			@media phone
				margin-right 10px
		&-label
			font-size 9px
			line-height 1.2