.order-list
	margin 0 auto 50px
	@media md
		width 75%
	@media sm
		width 90%
	@media phone
		margin 0 -20px
	&__row
		position relative
		display flex
		font-size 12px
		text-transform uppercase
		@media tablet_desktop
			padding-right 300px
		@media phone
			flex-direction column
			padding 16px 120px 16px 20px
			min-height 120px
		&_header
			font-size 10px
			font-weight bold
			color #b9b9b9
			background-color transparent !important
			@media phone
				display none
		&:nth-child(odd)
			background-color #dfeada
		&:nth-child(even)
			background-color #ecf3e9
	&__col
		@media tablet_desktop
			width 25%
		@media desktop
			padding 25px
		@media tablet
			padding 25px 10px
		@media phone
			display flex
			padding 2px 0
		&-label
			width 65px
			padding-top 1px
			font-size 10px
			font-weight bold
			text-transform uppercase
			color #78a965
			@media tablet_desktop
				display none
	&__status
		color brandColor
		font-weight bold
	&__buttons
		position absolute
		top 0
		right 0
		bottom 0
		display flex
		@media tablet_desktop
			width 300px
		@media phone
			width 100px
			flex-direction column
	&__button
		display flex
		align-items center
		justify-content center
		@media tablet_desktop
			width 50%
		@media phone
			min-height 60px
			height 50%
		&:first-child
			background #56943e
		&:last-child
			background #679e51
		&:hover
		&:active
			background lighten(brandColor, 10%)

