.taste-button
	position fixed
	z-index 10
	top 50%
	right 0
	transform translateX(50%)rotate(-90deg)translateY(-100%)
	opacity 0
	visibility hidden
	&__link
		padding 20px 20px 15px
		font-size 12px
		line-height 1
		font-weight 500
		color #fff
		background linear-gradient(to bottom, 0% #78A965, 100% #418029)
		text-transform uppercase
		text-decoration none
		letter-spacing 0.6pt
		&:hover
			color rgba(255, 255, 255, 0.6)
