+e.image._main
	if mainImage
		+e.image-i(style=`background-image:url("${mainImage}");`)

+e.content
	if title
		+e.title= title

if bottle
	+e("img").image._center(src=bottle, alt="")

unless hideAddImage
	- classes = []
	if addImageMask
		- classes.push("media-widget__image_mask")
	+e.image._add(class=classes)
		if addImage
			+e.image-i(style=`background-image:url("${addImage}");`)