.media-widget
	position relative
	display flex
	flex-direction column
	min-height 100vh
	&__image
		overflow hidden
		&_main
			position absolute
			top 120px
			left 0
			right 0
			bottom 80px
		&_add
			position relative
			width 40%
			padding-bottom 30%
			&.media-widget__image_mask
				margin-bottom 80px
				padding-bottom 20%
		&_mask
			&:after
				content ""
				position absolute
				top 0
				right 0
				bottom 0
				left 0
				background-color rgba(86,148,62,.7)
		&-i
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			background-size cover
			background-position center center
			background-repeat no-repeat
		&-v
			position absolute
			top 0
			right 0
			left 0
			height 100%
	&__content
		position relative
		width 50%
		padding-bottom 40%
		overflow hidden
		&-bg
			position absolute
			bottom 0
			right 0
			left 0
			height 100%
			background url(img("green-texture.jpg")) repeat center center brandColor
	&__title
		position absolute
		top 0
		left 0
		width 100%
		height @width
		display flex
		align-items center
		justify-content center
		font-size 48px
		text-transform uppercase
		color #fff
		text-align center
		font-weight bold
	&_oriented
		&-right
			align-items flex-end
		&-left
			align-items flex-start
	&_offset
		&-bottom
			margin-bottom 140px
	&_simple
		padding-top 23%
		align-items flex-end
		justify-content flex-end
		.media-widget
			&__image
				&_main
					top 0
					right 20%
				&_center
					position absolute
					top 12%
					left 50%
					transform translateX(-50%)
