.page
	&__cover
		position relative
		display flex
		@media tablet_desktop
			align-items flex-end
			height 820px
			margin-bottom 40px
		@media phone
			padding-top 66vw
		&-bg
			position absolute
			top 0
			right 0
			left 0
			background-size cover
			background-repeat no-repeat
			background-position center center
			@media tablet_desktop
				bottom 0
			@media phone
				height 66vw
		&-wrap
			position relative
			@media tablet_desktop
				margin-bottom -40px
			@media desktop
				padding-right 35%
			@media tablet
				padding-right 25%
			&:before
				content ""
				position absolute
				top 0
				bottom 0
				background url(i("green-texture.jpg")) repeat center center brandColor
				@media tablet_desktop
					left 50%
					margin-left -50vw
				@media desktop
					right 35%
				@media tablet
					right 25%
				@media phone
					right -20px
					left -20px
		&-content
			position relative
			color #fff
			@media tablet_desktop
				padding 60px 100px 50px 0
			@media phone
				padding 30px 0 40px
		&-title
			margin-bottom 35px
			@media tablet_desktop
				font-size 48px
				line-height 1.1
			@media phone
				font-size 20px
				margin-bottom 20px
			a&
				display inline-block
				color #fff
				font-weight bold
				text-transform uppercase
				text-decoration none
				&:hover
					color #9dc78d
		&-text
			margin-bottom 20px
			font-size 14px
			line-height 1.57
			color #dfeada
		&-date
			font-size 12px
			color #9dc78d
			text-transform uppercase
	&__title
		margin-bottom 55px
		color brandColor
		text-align center
		@media phone
			margin-bottom 30px
		&_bottom-offset-sm
			margin-bottom 35px
	&__subtitle
		font-size 18px
		color brandColor
		text-align center
		@media tablet_desktop
			margin-bottom 65px
		@media phone
			margin-bottom 30px
	&__content
		@media tablet_desktop
			padding-top 100px
		@media phone
			padding-top 40px
	&__footer
		text-align center
		@media tablet_desktop
			margin-top 80px
		@media phone
			margin-top 60px
	&__back
		min-width 210px

	&_account
		.page
			&__content
				@media tablet_desktop
					padding-top 75px
				@media phone
					padding-top 20px

	&_checkout
		.page
			&__content
				@media desktop
					display flex
					padding-top 0
				@media tablet
					width 760px
					padding-left 10px
					padding-right @padding-left
					margin 0 auto
				@media phone
					padding-left 20px
					padding-right @padding-left
			&__body
				@media md
					width 63%
					padding-right 100px
				@media sm
					width 53%
					padding-right 50px
				@media desktop
					padding-top 65px
					display flex
					justify-content flex-end
				&-inner
					@media md
						width 630px
					@media sm
						width 460px
			&__aside
				@media desktop
					padding-top 185px
					background-color #dfeada
				@media md
					width 37%
				@media sm
					width 47%
				@media tablet
					padding-top 100px
				@media phone
					display none
	&_about
		.page
			&__content
				@media phone
					padding-top 0
