+e.inner.container
	+e("h1").title
		+e("span").title-row._1 We brew
		+e("span").title-row._2 Kombucha
		+e("span").title-row._3 the right way
		+e("img").title-image#leaf(src="/assets/img/leaf.png" alt="")
	+e.text
		p Kombucha is a healthy and refreshing fermented tea with a long history. 
		p For the past twenty years, B-tea has crafted Kombucha in the centuries-old tradition, using only raw and organic ingredients and a three-week primary fermentation.
		p The result is a delicious drink loaded with probiotics and amino acids, a healthy reward for your body and mind.
	+e.list
		+e.list-item
			+e.list-image
				+e("img").list-image-i(src="/assets/img/ingridient-icon-1.svg" alt="" width="65" height="65")
			+e.list-title Darjeeling Black Tea <br>or Japanese Bancha Green Tea
		+e.list-item
			+e.list-image
				+e("img").list-image-i(src="/assets/img/ingridient-icon-2.svg" alt="" width="65" height="65")
			+e.list-title Organic Cane Sugar
		+e.list-item
			+e.list-image
				+e("img").list-image-i(src="/assets/img/ingridient-icon-3.svg" alt="" width="65" height="65")
			+e.list-title Pilsner Laden Water
		+e.list-item
			+e.list-image
				+e("img").list-image-i(src="/assets/img/ingridient-icon-4.svg" alt="" width="65" height="65")
			+e.list-title Natural Flavor &amp; Herbs
