$menuHeight = 80px
.sequence
	position fixed
	bottom 0
	top $menuHeight
	left 50%
	z-index 6
	visibility hidden
	opacity 0
	will-change transform

	canvas
		position absolute
		top 0
		visibility hidden
		opacity 0
		transform translateX(-50%)
	@media phone, (orientation: portrait)
		display none
