$menuHeight = 80px
.sequence
	position fixed
	bottom 0
	top 0
	left 50%
	z-index 6
	visibility hidden
	opacity 0

	canvas
		position absolute
		top $menuHeight
		visibility hidden
		opacity 0
		transform translateX(-50%)
	@media phone, (orientation: portrait)
		display none
