.sequence
	position fixed
	bottom 0
	top 0
	right 0
	left 0
	z-index 6
	&__img
		position absolute
		display none
		top 0
		bottom 0
		top 0
		right 0
		left 0
		background-position center
		background-size 1280px 100%
		&:first-child
			display block
