.product-cover
	position relative
	user-select none
	cursor pointer
	overflow hidden
	margin-bottom -1px
	@media tablet_desktop
		padding-bottom 33.33vw
	@media phone
		padding-bottom 66.66vw
	&__wrap
		position absolute
		top 0px
		right -1px
		bottom 0px
		left -1px
		overflow hidden
		&:after
			content ""
			position absolute
			top -1px
			right -1px
			bottom -1px
			left -1px
			background-color rgba(0,0,0,.5)
		&-inner
			position absolute
			display flex
			align-items center
			top 0
			bottom 0
			left 0
			width 200%
			overflow hidden
	&__image
		width 50%
		height 100%
		background-color brandColor
		background-size cover
		background-position center center
		background-repeat no-repeat
	&__video
		width 100%
		height 100%
		object-fit cover
		&-wrapper
			position relative
			width 50%
			height 100%
			overflow hidden
		&-poster
			position absolute
			top 0
			left 0
			bottom 0
			right 0
			z-index 2
			background-size cover
			background-color brandColor
			background-position center center
			background-repeat no-repeat
	&__content
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		text-decoration none
		z-index 8
	&__title
		width 100%
		height @width
		display flex
		align-items center
		justify-content center
		padding 20px
		font-size 20px
		text-transform uppercase
		color #fff
		text-align center
		font-weight bold
		letter-spacing 1pt
	&__close
		position absolute
		top 20px
		right @top
		width 30px
		height @width
		opacity 0
		z-index 10
		transform rotate(45deg)
		transition .2s opacity ease-in-out
		cursor pointer
		&:before
		&:after
			content ""
			position absolute
			top 50%
			left 50%
			transform translate(-50%,-50%)
			background-color #fff
		&:before
			width 10px
			height 2px
		&:after
			width 2px
			height 10px
	&__slider
		position absolute
		z-index 8
		overflow hidden
		top 5%
		@media md
			right 10%
			bottom 5%
			width 50%
		@media tablet_sm
			right 20%
			bottom 5%
			width 30%
		@media phone
			bottom 1px
			right auto
			left 38.5%
			width 23%
		&-wrapper
			display flex
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			opacity 0
			visibility hidden
			cursor default
			@media tablet_desktop
				padding 70px 0 70px 60px
			@media phone
				padding 20px
		&-inner
			position absolute
			display flex
			width 200%
			left 0
			transition margin-left .5s ease-out
			@media tablet_desktop
				top 50%
				max-height 100%
				transform translateY(-50%)
			@media phone
				top 0
		&-item
			text-align center
			transition opacity .15s ease-in-out
			opacity 0
			width 50%
			&.active
				opacity 1
				transition opacity .3s ease-out .3s
		&-image
			max-width 100%
			max-height 100%
		&-text
			position relative
			width 100%
			height 100%
	&__text
		position absolute
		left 0
		right 0
		bottom 0
		line-height 1.5
		color #fff
		text-transform uppercase
		opacity 1
		cursor pointer
		@media tablet_desktop
			font-size 14px
			transition opacity 0.2s ease-in-out
			&:hover
				opacity 0.6
		@media phone
			font-size 10px
		&-vertical
			position absolute
			bottom 20px
			left 0
			display block
			margin-left -20px
			transform translateY(100%)rotate(-90deg)
			transform-origin left top
			line-height 1.1
			font-weight 600
			color #fff
			text-transform uppercase
			perspective 600px
			perspective-origin top center
			span
				display inline-block
				transform-origin 100% 50%
			@media xl
				font-size 72px
			@media not_xl
				font-size 5.1vw
			@media phone
				display none
	&.right
		.product-cover
			&__slider
				@media md
					left 10%
					right auto
				@media tablet_sm
					left 20%
					right auto
				&-wrapper
					@media tablet_desktop
						justify-content flex-end
						padding 70px 60px 70px 0
					@media phone
						padding 20px
			&__text
				text-align right
				&-vertical
					transform translateX(100%)rotate(90deg)
					bottom auto
					left auto
					right -40px
					top 20px
			&__wrap
				&-inner
					flex-direction row-reverse
					transform translateX(-50%)
	&.active
		.product-cover
			&__close
				visibility visible
				opacity 1
				&:hover
					opacity 0.6
			&__title
				@media phone
					font-size 40px
					line-height 1.1
