+e.wrap
	if data.image
		+e.image-wrapper
			+e.image(style=`background-image:url("${data.image}");`)
	if data.video
		+e.video-wrapper
			+e.video-inner
				+e("video").video(data-video=data.video type="video/mp4" preload="preload" loop muted)
+e("a").content(href=data.externalLink target="_blank")
	if data.title
		+e.title!= data.title
