.articles-list
	display flex
	flex-wrap wrap
	justify-content space-between
	margin-bottom 15px
	&__item
		@media tablet_desktop
			width 315px
			margin-bottom 50px
		@media phone
			margin-bottom 30px
			width 100%
