.auth-box
	&__button
		display block
		width 100%
		@media phone
			margin-left -20px
			margin-right -20px
			width calc(100% + 40px)
	&__footer
		margin-top 27px
		&-message
			margin-top 30px
			text-align center
	&__link
		font-size 12px
		font-weight bold
		color brandColor
		text-transform uppercase
		text-decoration none
		&:hover
			color siteColor
	.checkbox
		text-transform none
