+e("form").form
	case state
		when "login"
			.form-group
				input.form-control(type="email" placeholder="Email")
			.form-group
				input.form-control(type="password" placeholder="Password")
			+e.footer
				.form-group
					+e("button").button.btn(type="submit") Login
				+e.footer-message
					+e("a").link(href="#registration-modal" data-toggle="modal" data-dismiss="modal") I am Guest/New
		when "registration"
			.form-group
				input.form-control(type="text" placeholder="First name")
			.form-group
				input.form-control(type="text" placeholder="Second name")
			.form-group
				input.form-control(type="email" placeholder="Email")
			.form-group
				input.form-control(type="tel" placeholder="Phone (Optional)")
			.form-group
				input.form-control(type="password" placeholder="Password")
			.form-group
				input.form-control(type="password" placeholder="Password confirm")
			+e.footer
				.form-group
					.checkbox
						label
							input(type="checkbox")
							span I have read and agree to the Privacy Policy
				.form-group
					+e("button").button.btn(type="submit") Register