.share-box
	margin-bottom 65px
	&__wrap
		display flex
		justify-content center
		margin-bottom 15px
	&__label
		font-size 18px
		color brandColor
		text-transform uppercase
		text-align center
		font-weight bold
	
	.at
		&-share-btn
			background-color transparent !important
		&-icon
			fill brandColor !important