.checkbox-group
	padding 30px 20px
	border 2px solid #d5e4d0
	&__item
		&:last-child
			margin-bottom 0
		&-inner
			display flex !important
			justify-content space-between
	&__value
		margin-left 20px
		font-weight bold
		white-space nowrap