.addresses-box
	&__title
		margin-bottom 30px
		font-size 12px
		text-transform uppercase
		text-align center
	&__list
		&-item
			margin-bottom 30px
	&__footer
		text-align center
	&__button
		min-width 320px