.address-widget
	display flex
	background-color #dfeada
	@media tablet_desktop
		min-height 140px
	@media phone
		min-height 130px
	&__content
		flex-grow 1
		padding 20px
		font-size 12px
		line-height 1.666
		color brandColor
		text-transform uppercase
	&__buttons
		flex-shrink 0
		display flex
		flex-direction column
		@media tablet_desktop
			width 150px
		@media phone
			width 100px
	&__button
		display flex
		align-items center
		justify-content center
		height 50%
		@media tablet_desktop
			min-height 70px
		@media phone
			min-height 65px
		&_edit
			background-color #56943e
		&_delete
			background-color #679e51
		&:hover
		&:active
			background lighten(brandColor, 10%)