.gallery
	position relative
	display flex
	left 50%
	right @left
	width 100vw
	@media tablet_desktop
		margin 80px -50vw
	@media phone
		margin 30px -50vw
	&.flickity-enabled
		display block
	&__item
		background-size cover
		background-position center center
		background-repeat no-repeat
		margin -1px
		@media desktop
			width 44%
			padding-bottom 30%
		@media tablet
			width 54%
			padding-bottom 40%
		@media phone
			width 75%
			padding-bottom 55%
		&:nth-child(n+3)
			display none
			.flickity-enabled &
				display block

	.flickity-prev-next-button
		width 50px
		height @width
		margin-top -25px
		border-radius 0
		background #fff
		transition .2s background ease-in-out
		@media phone
			display none
		.arrow
			fill lighten(brandColor, 30%)
			transition .2s fill ease-in-out
		&:hover
			background brandColor
			.arrow
				fill #fff
		&.previous
			left 50%
			margin-left -22%
			transform translateX(-80px)
		&.next
			right 50%
			margin-right -22%
			transform translateX(80px)
