.content-widget
	display flex
	&_offset-bottom
		margin-bottom 200px
	&_type
		&-1
			.content-widget
				&__image
					order 1
					height 680px
					margin 0 -170px 0 -100px
				&__body
					order 2
					padding 50px 100px 50px 270px
					margin 140px -100px -60px 0
		&-2
			.content-widget
				&__image
					margin 50px -100px 0 -210px
					height 765px
				&__body
					margin 0 0 130px -100px
					padding 50px 310px 50px 100px
	&__body
		flex-grow 1
		display flex
		align-items center
		position relative
		z-index 1
		background url(img("green-texture.jpg")) repeat center center brandColor
		color #fff
	&__title
		margin-bottom 40px
		font-size 18px
	&__text
		font-size 16px
		&_md
			font-size 26px
			line-height 1.3
	&__image
		flex-shrink 0
		width 630px
		position relative
		z-index 2
	&__button
		min-width 210px
		margin-top 50px