.content-widget
	display flex
	@media phone
		flex-direction column
		margin-left -20px
		margin-right @margin-left
	&_offset-bottom
		@media desktop
			margin-bottom 200px
		@media tablet
			margin-bottom 170px
		@media phone
			margin-bottom 45px
	&_type
		&-1
			.content-widget
				&__image
					order 1
					@media tablet_desktop
						margin 0 -170px 0 -100px
					@media desktop
						height 680px
					@media tablet
						height 480px
					@media phone
						padding-bottom 110%
				&__body
					order 2
					@media tablet_desktop
						padding 50px 100px 50px 0
						margin 140px -100px -60px 0
					@media md
						padding-left 270px
					@media sm
						padding-left 240px
					@media tablet
						padding-left 220px
		&-2
			.content-widget
				&__image
					@media desktop
						margin 50px -100px 0 -210px
						height 765px
					@media tablet
						margin 150px -120px 0 -210px
						height 565px
					@media phone
						padding-bottom 120%
				&__body
					@media tablet_desktop
						padding 50px 0 50px 100px
						margin 0 0 130px -100px
					@media md
						padding-right 310px
					@media sm
						padding-right 270px
					@media tablet
						padding-right 240px
	&__body
		flex-grow 1
		display flex
		align-items center
		position relative
		z-index 1
		background url(i("green-texture.jpg")) repeat center center brandColor
		color #fff
		@media phone
			padding 35px 20px
	&__title
		font-size 18px
		@media tablet_desktop
			margin-bottom 40px
		@media phone
			margin-bottom 20px
	&__text
		font-size 16px
		&_md
			@media tablet_desktop
				line-height 1.3
			@media desktop
				font-size 26px
			@media tablet
				font-size 20px
	&__image
		flex-shrink 0
		position relative
		z-index 2
		background-size cover
		@media desktop
			width 630px
		@media tablet
			width 430px
	&__button
		min-width 210px
		@media tablet_desktop
			margin-top 50px
		@media phone
			margin-top 40px