.content-heading
	margin-bottom 100px
	text-align center
	color brandColor
	&__title
		margin-bottom 50px
		font-size 72px
		line-height 1.138
		color brandColor
		font-weight bold
		text-transform uppercase
	&__text
		font-size 16px
		line-height 1.4
		p
			margin 0