.content-heading
	margin-bottom 100px
	text-align center
	color brandColor
	perspective 600px
	perspective-origin top center
	&__title
		margin-bottom 50px
		font-size 72px
		line-height 1.138
		color brandColor
		font-weight bold
		text-transform uppercase
		transform-origin 100% 50%

		span
			display inline-block
	&__text
		font-size 16px
		line-height 1.4
		p
			margin 0
