.content-heading
	text-align center
	color brandColor
	perspective 600px
	perspective-origin top center
	@media tablet_desktop
		margin-bottom 100px
		.page_products &
			margin-bottom 0
			margin-top 100px
	@media phone
		margin-bottom 50px
		.page_products &
			margin-top 50px
	&__title
		// font-size 72px
		font-size calc(1rem + 4vw)
		line-height 1.2
		color brandColor
		font-weight bold
		text-transform uppercase
		transform-origin 100% 50%
		@media tablet_desktop
			margin-bottom 50px
		@media phone
			margin-bottom 20px
		span
			display inline-block
	&__text
		line-height 1.4
		@media tablet_desktop
			font-size 16px
		@media phone
			font-size 14px
		p
			margin 0
