.footer
	font-size 11px
	text-align center
	@media tablet_desktop
		padding 80px 0 90px
	@media phone
		padding 50px 0
	&__socials
		margin-bottom 20px
	&__copyright
		margin-bottom 10px
	&__info
		a
			color siteColor
			text-decoration none
			&:hover
				color brandColor
