.container
	+e.socials
		+b.social-links: +i
	+e.copyright &copy; 2017 B-Tea Beverage, LLC. All Rights Reserved
	+e.info
		+e.info-item
			a(href="callto:2015128400") (201) 512-8400
			| &#32;ext. 303
		+e.info-item
			a(href="mailto:contactus@btkombucha.com") contactus@btkombucha.com
+e("img").bg(class="not-mobile-lozad" data-src="/assets/i/b-bg.png" src="/assets/i/null.png")
