.footer
	position relative
	font-size 11px
	text-align center
	@media desktop
		padding 80px 0 90px
	@media tablet
		padding 30px 0 40px
	@media phone
		padding 50px 0
	&__socials
		margin-bottom 20px
	&__copyright
		margin-bottom 10px
	&__info
		a
			color siteColor
			text-decoration none
			&:hover
				color brandColor
	.container
		z-index 2

	&__bg
		display none
		position absolute
		bottom 0
		left 0
		width 40%
		opacity 0
		transition opacity .4s ease-out
	&_bg
		.footer
			&__bg
				display block
				@media phone
					display none
				&[data-loaded=true]
					opacity 1
