.form-section-title.form-section-title_simple Your password
.form-group
	input.form-control(type="password" placeholder="Password")
.form-group
	input.form-control(type="password" placeholder="Password confirm")
+e.footer
	+e("button").button.btn(type="submit") Save