+e("a").item(href="/" target="_blank")
	+e("img").item-image(src="/assets/img/youtube-icon.svg" alt="" width="20" height="20")
+e("a").item(href="/" target="_blank")
	+e("img").item-image(src="/assets/img/instagram-icon.svg" alt="" width="20" height="20")
+e("a").item(href="/" target="_blank")
	+e("img").item-image(src="/assets/img/facebook-icon.svg" alt="" width="20" height="20")
+e("a").item(href="/" target="_blank")
	+e("img").item-image(src="/assets/img/pinterest-icon.svg" alt="" width="20" height="20")

