+e("a").item(href="https://www.youtube.com/channel/UCMVna0UFqTmoLYy9yAwQmnA" target="_blank")
	+e("img").item-image(src=i("youtube-icon.svg"), alt="" width="20" height="20")
+e("a").item(href="https://www.instagram.com/bteakombucha/" target="_blank")
	+e("img").item-image(src=i("instagram-icon.svg"), alt="" width="20" height="20")
+e("a").item(href="https://www.facebook.com/bteabeverage/" target="_blank")
	+e("img").item-image(src=i("facebook-icon.svg"), alt="" width="20" height="20")
//- +e("a").item(href="/" target="_blank")
//- 	+e("img").item-image(src=i("pinterest-icon.svg"), alt="" width="20" height="20")
