.content-box
	margin-bottom 130px
	color brandColor
	&__title
		margin-bottom 55px
		font-size 18px
	&__row
		display flex
		margin 0 -50px
	&__col
		flex-shrink 0
		width 50%
		padding 0 50px
	&__text
		font-size 16px
		&_md
			font-size 26px
			line-height 1.3