.catalog
	&__desktop
	&__mobile
		display flex
		flex-wrap wrap
	&__desktop
		padding-top 120px
		padding-bottom 200px
	&__col
		@media tablet_desktop
			width 50%
	&__item
		display flex
		flex-direction column
		width 100%
