.catalog
	position relative
	z-index 2
	&__desktop
	&__mobile
		display flex
		flex-wrap wrap
	&__desktop
		padding-top 60px
		padding-bottom 100px
	&__col
		@media tablet_desktop
			width 50%
	&__item
		display flex
		flex-direction column
		width 100%
		background-color brandColor
