.product-params
	height 0
	overflow hidden
	@media phone
		order 1
	&__wrap
		display flex
		flex-direction column
		transform-origin 50% 0
	&__text
		z-index 1
		line-height 1.4
		color brandColor
		background-color #dfeada
		@media md
			padding 38px 70px 32px
			font-size 16px
		@media sm
			padding 38px 50px 32px
			font-size 16px
		@media tablet
			padding 30px
			font-size 14px
		@media phone
			order 4
			z-index 5
			padding 30px 20px
			font-size 14px
	&__ingredients
		visibility hidden
		opacity 0
		height 0
		overflow hidden
		&-header
			display flex
			width 105px
			margin-top 1rem
			font-size 13px
			color #78A965
			transition opacity 0.2s ease-in-out
			cursor pointer
			&-icon
				position relative
				margin-left 10px
				border-radius 50%
				border 1px solid rgba(120, 169, 101, .3)
				height 20px
				width 20px
				transition transform 0.2s linear
				&:after
				&:before
					content ''
					display block
					position absolute
					top 9px
					width 6px
					height 1px
					background-color #679E51
				&:after
					left 4px
					transform rotate(45deg)
				&:before
					right 4px
					transform rotate(-45deg)
			&:not(.closed)
				.product-params
					&__ingredients
						&-header-icon
							transform rotate(180deg)
			&:hover
				opacity 0.6
	&__title
		display flex
		align-items center
		text-transform uppercase
		line-height 1.5
		white-space pre-line
		@media desktop
			width 130px
			font-size 12px
		@media tablet
			width 100px
			font-size 12px
		@media phone
			width 80px
			font-size 10px
	&__inner
		display flex
		color #fff
		@media md
			padding 55px 70px
		@media sm
			padding 40px 50px
		@media tablet
			padding 30px
		@media phone
			padding 35px 20px
	&__list
		display flex
		align-items center
		@media phone_tablet
			margin-left -10px
	&__item
		font-size 30px
		line-height 1.1
		font-weight bold
		cursor pointer
		opacity 0.2
		transition opacity 0.15s ease-in-out
		@media md
			margin-right 70px
			font-size 30px
		@media sm
			margin-right 50px
			font-size 30px
		@media tablet
			margin-right 20px
			font-size 25px
			padding 10px
			cursor pointer
		@media phone
			margin-right 15px
			font-size 20px
			padding 10px
			cursor pointer
		&.active
			opacity 1
		@media desktop
			&:not(.active):hover
				opacity 0.6
	&__volume
		z-index 2
		background-color #78A965
	&__packs
		z-index 3
		background-color #679E51
		&-dots
			display flex
			flex-wrap wrap
			width 55px
		&-dot
			width 6px
			height 6px
			margin 3px
			background-color #fff
			border-radius 50%
			&.disabled
				opacity 0.2
	&__cart
		color #fff
		text-transform uppercase
		background-color #56943E
		z-index 4
		&-inner
			display flex
		&-total
			transition width 0.3s ease-out, padding-left 0.3s ease-out, opacity 0.15s ease-out 0.15s
		&-total
			display flex
			width 60%
			opacity 1
			align-items center
			visibility visible
			@media md
				height 145px
				padding 55px 0 55px 70px
			@media sm
				height 116px
				padding 40px 0 40px 50px
			@media tablet
				height 106px
				padding 35px 0 35px 30px
			@media phone
				height 100px
				padding 35px 0 35px 20px
			&-value
				line-height 1.1
				font-weight bold
				@media desktop
					font-size 30px
				@media tablet
					font-size 25px
				@media phone
					font-size 20px
		&-button
			display flex
			width 40%
			align-items center
			justify-content center
			line-height 1.15
			font-weight bold
			background-color #4B8834
			cursor pointer
			transition background-color 0.15s ease-in-out, width 0.3s ease-out
			@media md
				height 145px
				padding 65px 0
				font-size 14px
			@media sm
				height 116px
				padding 50px 0
				font-size 14px
			@media tablet
				height 106px
				padding 35px 0
				font-size 14px
			@media phone
				height 100px
				padding 40px 0
				font-size 12px
			&:hover
				background-color #315423
		&.added
			.product-params
				&__cart
					&-total
						width 0
						padding-left 0
						padding-bottom 0
						opacity 0
						transition width 0.3s ease-out, padding-left 0.3s ease-out, opacity 0s ease-out 0s
					&-button
						width 100%
						background-color #315423
