if text
	+e.text!= text
+e.sizes
	+e.title select &#10; size
	+e.sizes-list
		+e.sizes-item(data-size="16oz") 16 oz
		+e.sizes-item(data-size="8oz") 8 oz
+e.packs
	+e.title select &#10; pack of
	+e.packs-size
		+e.packs-size-item(data-pack="12") 12
		+e.packs-size-item(data-pack="8") 8
		+e.packs-size-item(data-pack="6") 6
	+e.packs-dots
		- n = 0
		while n++ < 12
			+e.packs-dot
+e.cart
	+e.cart-total
		+e.title your &#10; total
		+e.cart-total-value $ 230
	+e.cart-button add to cart
