+e.wrap
	if text
		+e.text
			+e.text-inner.stagger!= text
	+e.volume
		+e.inner.stagger
			+e.title select &#10; size
			+e.list
				+e.item.active(data-volume="16oz") 16 oz
				+e.item(data-volume="8oz") 8 oz
	+e.packs
		+e.inner.stagger
			+e.title select &#10; pack of
			+e.list
				+e.item.active(data-pack="12") 12
				+e.item(data-pack="8") 8
				+e.item(data-pack="6") 6
			+e.packs-dots
				- n = 0
				while n++ < 12
					+e.packs-dot
	+e.cart
		+e.cart-inner.stagger
			+e.cart-total
				+e.title your &#10; total
				+e.cart-total-value $ 230
			+e.cart-button add to cart
