.product-params
	height 0
	overflow hidden
	&__text
		z-index 1
		padding 40px 70px
		font-size 16px
		line-height 1.4
		color brandColor
		background-color #dfeada
	&__title
		display flex
		width 130px
		align-items center
		text-transform uppercase
		font-size 12px
		line-height 1.5
		white-space pre-line
	&__volume-inner
	&__packs-inner
		display flex
		color #fff
		padding 60px 70px
	&__volume
		z-index 2
		background-color #78A965
		&-list
			display flex
		&-item
			margin-right 70px
			font-size 30px
			line-height 1.1
			font-weight bold
			cursor pointer
			opacity 0.2
			transition opacity 0.15s ease-in-out
			&.active
				opacity 1
			&:not(.active):hover
				opacity 0.6
	&__packs
		z-index 3
		background-color #679E51
		&-list
			display flex
			align-items center
		&-item
			margin-right 70px
			font-size 30px
			line-height 1.1
			font-weight bold
			cursor pointer
			opacity 0.2
			transition opacity 0.15s ease-in-out
			&.active
				opacity 1
			&:not(.active):hover
				opacity 0.6
		&-dots
			display flex
			flex-wrap wrap
			width 52px
		&-dot
			width 7px
			height 7px
			margin 3px
			background-color #fff
			border-radius 50%
			&.disabled
				opacity 0.2
	&__cart
		color #fff
		text-transform uppercase
		background-color #56943E
		z-index 4
		&-inner
			display flex
		&-total
		&-button
			transition width 0.5s ease-in-out, padding-left 0.5s ease-in-out
		&-total
			display flex
			width 60%
			padding 60px 0 60px 70px
			opacity 1
			visibility visible
			&-value
				font-size 30px
				line-height 1.1
				font-weight bold
		&-button
			width 40%
			padding 70px 0
			text-align center
			font-size 14px
			line-height 1.15
			font-weight bold
			background-color #4B8834
			cursor pointer
		&.added
			.product-params
				&__cart
					&-total
						width 0
						padding 0
						opacity 0
					&-button
						width 100%
						background-color #315423
