+e.inner
	if text
		+e.text!= text
	+e.volume
		+e.title select &#10; size
		+e.volume-list
			+e.volume-item(data-volume="16oz") 16 oz
			+e.volume-item(data-volume="8oz") 8 oz
	+e.packs
		+e.title select &#10; pack of
		+e.packs-list
			+e.packs-item(data-pack="12") 12
			+e.packs-item(data-pack="8") 8
			+e.packs-item(data-pack="6") 6
		+e.packs-dots
			- n = 0
			while n++ < 12
				+e.packs-dot
	+e.cart
		+e.cart-total
			+e.title your &#10; total
			+e.cart-total-value $ 230
		+e.cart-button add to cart
