.address-edit
	margin 0 auto
	width 630px
	&__section
		margin-bottom 30px
	&__footer
		display flex
		justify-content center
	&__button
		min-width 210px
		&_back
			background #679e51
	&__wrap
		margin-bottom 10px
		text-align center
		