.cart
	.page_checkout &
		max-width 550px
	&__list
		&-item
			&:nth-child(odd)
				background-color #78a965
			&:nth-child(even)
				background-color #679e51
			&:nth-child(3n)
				background-color #56943e
	&__product
		display flex
		&-image
			position relative
			flex-shrink 0
			display flex
			align-items center
			justify-content center
			width 210px
			padding 20px
			background-size cover
			background-repeat no-repeat
			background-position center center
			&:before
				content ""
				position absolute
				top 0
				right 0
				bottom 0
				left 0
				background-color rgba(0,0,0,.5)
		&-content
			flex-grow 1
			padding 40px 0 40px 50px
		&-title
			position relative
			font-size 14px
			line-height 1.285
			color #fff
			font-weight bold
			text-transform uppercase
			letter-spacing 2pt
			text-align center
		&-row
			position relative
			padding 12px 110px 12px 0
			font-size 14px
			line-height 1.57
			text-transform uppercase
			color #fff
			&:hover
				.no-touchevents &
					.cart__controls
						visibility visible
						opacity 1
		&-price
			font-weight bold
	&__controls
		position absolute
		top 12px
		right 0
		width 80px
		display flex
		transition .2s opacity ease-in-out
		.no-touchevents &
			opacity 0
			visibility hidden
		&-item
			position relative
			width 50%
			height 40px
			user-select none
			cursor pointer
			transition .2s background-color ease-in-out
			&:before
			&:after
				position absolute
				top 50%
				left 50%
				content ""
				background-color brandColor
				transform translate(-50%,-50%)
				transition .2s background-color ease-in-out
			&:before
				width 8px
				height 2px
			&_plus
				background-color #fff
				&:after
					width 2px
					height 8px
			&_minus
				background-color #dfeada
				&:before
					width 6px
				&:after
					content none
			&:hover
				background-color #397323
				&:before
				&:after
					background-color #fff
	&__total
		display flex
		justify-content center
		padding 37px 30px 38px
		background-color #56943e
		color #fff
		text-align center
		font-weight bold
		&-label
			margin 15px 15px 0 0
			font-size 14px
			text-transform uppercase
		&-value
			font-size 30px
	&__payments
		display flex
		flex-wrap wrap
		&-item
			width 33.333333%
			height 120px
			display flex
			&:nth-child(odd)
				background-color #4b8834
			&:nth-child(even)
				background-color #45802f
			&:nth-child(3n)
				background-color #397323
			&:nth-child(6n)
				background-color brandColor
		&-label
			display flex
			width 100%
			padding-bottom 3px
			align-items center
			justify-content center
			font-size 14px
			line-height 1.1
			font-weight bold
			color #fff
			letter-spacing .5pt
			text-transform uppercase
		&-icon
			max-width 100%
			max-height 100%
		&-link
			width 100%
			padding 10px
			display flex
			align-items center
			justify-content center
			text-decoration none