.informer
	text-align center
	@media tablet_desktop
		margin-bottom 90px
	@media phone
		margin-bottom 25px
	&__text
		margin-bottom 30px
	&__label
		display inline-block
		padding 15px 30px
		background-color #dfeada
		font-size 24px
		color brandColor
	&__button
		@media tablet_desktop
			min-width 320px
		@media phone
			min-width 280px