.sequence-widget
	position relative
	display flex
	width 100%
	background url(i("green-texture.jpg")) repeat center center brandColor
	@media desktop
		justify-content center
		align-items center
		margin-top 390px
		margin-bottom 120px
		.no-ie &
			min-height 100vh
	@media tablet
		justify-content center
		align-items center
		margin-top 390px
		margin-bottom 90px
		.no-ie &
			min-height 100vh
	@media phone
		margin-bottom 55px
	@media (min-width: 768px) and (orientation: portrait)
		margin-top 0
		margin-bottom 55px
	&__body
		color #fff
		@media tablet_desktop
			width 60%
			padding-left 21%
		@media tablet_portrait
			padding 0
		@media phone
			width 100%
			padding 40px 30px
		@media (min-width: 768px) and (orientation: portrait)
			width 100%
			padding 40px 30px
	&__title
		line-height 1.1
		font-weight bold
		letter-spacing 2pt
		text-transform uppercase
		@media xl
			font-size 150px
		@media not_xl
			font-size calc(11vw - 0.45rem)
		@media phone
			text-align center
		@media (min-width: 768px) and (orientation: portrait)
			text-align center
	&__content
		@media xl
			font-size 20px
		@media not_xl
			font-size calc(0.77rem + 0.5vw)
		@media tablet_desktop
			margin-top 60px
		@media phone
			text-align center
			margin-top 30px
			p
				margin 0
		@media (min-width: 768px) and (orientation: portrait)
			width 65%
			text-align center
			margin 30px auto 0
			p
				margin 0
