+e.title.form-section-title Your personal details
.form-group
	input.form-control(type="text" placeholder="First name")
.form-group
	input.form-control(type="text" placeholder="Second name")
.form-group
	input.form-control(type="email" placeholder="Email")
.form-group
	input.form-control(type="tel" placeholder="Phone")
+e.footer
	+e("button").button.btn(type="submit") Save