.content-nav
	display flex
	justify-content center
	margin-bottom 60px
	&__item
		padding 0 15px
		&.active
			.content-nav__link
				color siteColor
	&__link
		font-size 12px
		font-weight bold
		text-transform uppercase
		color brandColor
		text-decoration none
		&:hover
			color siteColor