strokeLine = 1060
strokeShortLine = 160
animTime = 2
strokeAnimDelay = 0.3

.intro
	position relative
	overflow hidden
	height 100vh
	min-height 650px
	&__wrap
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		video
			object-fit cover
			.no-objectfit &
				position absolute
				top 50%
				left 50%
				width auto !important
				height auto !important
				min-width 100%
				min-height 100%
				transform translate(-50%, -50%)
	&__footer
		position absolute
		left 0
		right 0
		bottom 20px
		text-align center
	&__more
		display inline-block
		text-transform uppercase
		width 100%
		height 1.2em
		text
			font-size 10px
			text-anchor middle
	&__preloader
		position fixed
		height 100%
		left 0
		bottom 0
		right 0
		z-index 5
		background url(img("green-texture.jpg")) repeat center center brandColor
	&__logo
		position absolute
		top 50%
		left 50%
		margin -191px 0 0 -113px
		width 226px
		height 383px
		&.active
			.intro__logo-s
				&_short
					animation (animTime)s logoShortAnim forwards cubic-bezier(0.16, 0.26, 0.36, 1)
				&_main
					animation (animTime - strokeAnimDelay)s logoMainAnim forwards linear
					animation-delay (strokeAnimDelay)s
				&_shape
					opacity 1
		&-image
			display block
			width 100%
			height 100%
		&-s
			fill #fff
			&_main
			&_short
				fill none
				stroke #fff
				stroke-width 22px
			&_short
				stroke-dasharray strokeShortLine, strokeShortLine
				stroke-dashoffset -(strokeShortLine)
				// animation (animTime)s logoShortAnim forwards cubic-bezier(0.16, 0.26, 0.36, 1)
			&_main
				stroke-dasharray strokeLine, strokeLine
				stroke-dashoffset -(strokeLine)
				// animation (animTime - strokeAnimDelay)s logoMainAnim forwards linear
				// animation-delay (strokeAnimDelay)s
			&_shape
				opacity 0
				fill brandColor
				transition .1s opacity (animTime)s ease-in-out

@keyframes logoShortAnim
	10%
		stroke-dashoffset -(strokeShortLine * 2)
	30%
		stroke-dashoffset -(strokeShortLine * 2)
	50%
		stroke-dashoffset -(strokeShortLine * 3)
	75%
		stroke-dashoffset -(strokeShortLine * 3)
	100%
		stroke-dashoffset -(strokeShortLine * 4)

@keyframes logoMainAnim
	100%
		stroke-dashoffset -(strokeLine * 2)
