strokeLine = 1060
strokeShortLine = 160
animTime = 2
strokeAnimDelay = 0.3

.intro
	position relative
	overflow hidden
	height 100vh
	min-height 420px
	&__wrap
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		&-image
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			background-size cover
		video
			object-fit cover
			.no-objectfit &
				position absolute
				top 50%
				left 50%
				width auto !important
				height auto !important
				min-width 100%
				min-height 100%
				transform translate(-50%, -50%)
	&__footer
		position absolute
		left 0
		right 0
		bottom 20px
		text-align center
	&__more
		display inline-block
		text-transform uppercase
		width 100%
		height 1.2em
		text
			font-size 10px
			text-anchor middle
	&__preloader
		position fixed
		height 100%
		left 0
		bottom 0
		right 0
		z-index 5
		background-color brandColor
		will-change height
	&__logo
		position absolute
		top 50%
		left 50%
		margin -191px 0 0 -113px
		width 226px
		height 383px
		&-image
			display block
			width 100%
			height 100%
		&-s
			fill #fff
			&_main
			&_short
				fill none
				stroke #fff
				stroke-width 22px
		&.not-ie
			&.active
				.intro__logo-s
					&_short
						animation (animTime)s logoShortAnim forwards cubic-bezier(0.16, 0.26, 0.36, 1)
					&_main
						animation (animTime - strokeAnimDelay)s logoMainAnim forwards linear
						animation-delay (strokeAnimDelay)s
					&_shape
						opacity 1
			&.done
				.intro__logo-s
					&_short
						stroke-dashoffset -(strokeShortLine * 4)
					&_main
						stroke-dashoffset -(strokeLine * 2)
					&_shape
						opacity 1
			.intro__logo-s
				&_short
					stroke-dasharray strokeShortLine, strokeShortLine
					stroke-dashoffset -(strokeShortLine)
				&_main
					stroke-dasharray strokeLine, strokeLine
					stroke-dashoffset -(strokeLine)
				&_shape
					opacity 0
					fill brandColor
					transition .1s opacity (animTime)s ease-in-out


@keyframes logoShortAnim
	10%
		stroke-dashoffset -(strokeShortLine * 2)
	30%
		stroke-dashoffset -(strokeShortLine * 2)
	50%
		stroke-dashoffset -(strokeShortLine * 3)
	75%
		stroke-dashoffset -(strokeShortLine * 3)
	100%
		stroke-dashoffset -(strokeShortLine * 4)

@keyframes logoMainAnim
	100%
		stroke-dashoffset -(strokeLine * 2)
