//---
	layout: layouts/about
	title: "About us"
	mission:
		title: "Our Mission"
		text: "To enhance the health and happiness of the world by educating her citizens about wholesome lifestyle choices and by providing delicious and nutritious organic beverages."
		textMod: "_md"
		image: "/assets/img/about-img-mission.jpg"
	philosophy:
		title: "Our philosophy"
		mainText: "<p><strong>“B – good”.</strong> This simple philosophy informs our entire business and speaks to our core values – health, vitality, honesty, transparency, and choice.</p><p>We chose <strong>“B - good”</strong> to do good. We at B-Tea aim to foster a well-informed and healthy community.</p>"
		text: "<p>And this begins with our customer. We want to extend an invitation to a healthier lifestyle by educating our growing community about making good, healthy choices.</p><p>Since we started with B-Tea, we have used our brand to raise awareness about health issues, support sustainable organic farming practices, and ensure our customers receive the best quality drink available!</p><p>Transparency: The only thing about us that isn’t transparent is our bottle, which is tinted for UV protection. This ensures our nourishing, thirst-quenching B-Tea arrives in pristine quality. Our bottles are fashioned for durability, are 100% reusable and 100% recyclable.</p>"
	history:
		title: "Our History"
		text: "<p>We at B-tea have a wealth of experience. Our brewery has proudly crafted and distributed Kombucha for over 20 years! Our team of experts in the field of nutrition is devoted to providing the world’s highest quality drink. This is why B-Tea has stuck to the centuries-old method of brewing Kombucha: it simply allows us to craft the best Kombucha on earth!</p><p>Try a bottle of chilled B-Tea Kombucha for yourself and share your experience. Like we’re sharing ours.</p><p>Questions for the experts...</p>"
		button:
			label: "Products"
			url: "/"
		image: "/assets/img/about-img-history.jpg"

//---