//---
	layout: layouts/article
	title: "A Week In New York, NY On A $52,000 Salary"
	cover:
		title: "A Week In New York, NY On A $52,000 Salary"
		image: "/assets/i/page-cover-2.jpg"
		text: "The Whole30 nutrition challenge is wildly popular. But can it really deliver on its promises? Nutrition Diva examines the pros, cons, and alternatives"
		date: "June 6, 2017"

//---

p We are on FaceTime, A. and I, him in New York and me in Paris. I wonder if this is a B-horror movie kind of thing or maybe an avant-garde art installation he’s talking about. But no, it’s just the latest Instagram phenomenon. “The slime thing” he’s referring to consists of videos, many made by teen girls in Thailand, of hands squishing blobs of colorful translucent slime, often with small colorful pellets or glitter mixed in. A. sent me one video via Instagram, and down the rabbit hole I went, squishing all the way down. 
p If these haven’t crossed your path yet, here are a few videos to get you started…
+b.gallery: +i({ data: gallery })
p Slime videos seem to be the newest attraction within the ASMR community, but you don’t need to feel ASMRs to appreciate the joy of slime. I think the appeal of slime stems from something that is far more universal — essentially, that so much time spent with devices has left us ravenous for tactile experiences.
blockquote What was the most wonderful thing you are?
p Most days, our hands curve around metal and cement, our fingertips tap against plastic and glass. Our fingertips have a perceptual acuity of 10 nanometers, optimized for discerning gradations of curvature and texture our eyes can’t even see, and yet in the manmade world, most of what they get to feel is slick and boring. Slime videos offer a vicarious hit of tactile stimulation.
p The biggest feature of slime videos is people poking at the slime, making little divots in the surface before picking it up to squish it. Not as good as squishing the slime yourself, but better than nothing.
