//---
	layout: layouts/blog
	title: "Blog"
	cover:
		title: "Pros and Cons of the Whole30 Challenge"
		image: "/assets/i/page-cover-1.jpg"
		text: "The Whole30 nutrition challenge is wildly popular. But can it really deliver on its promises? Nutrition Diva examines the pros, cons, and alternatives"
		date: "June 6, 2017"
		url: "/article.html"

//---
