//---
	layout: layouts/account
	title: "My account"
	state: "4"
	nav:
		- title: "My orders"
		  url: "/orders.html"
		- title: "Address book"
		  url: "/address-book.html"
		- title: "Account info"
		  url: "/account-info.html"
		- title: "Change password"
		  url: "/change-password.html"
		  active: "true"

//---
