//---
	layout: layouts/checkout
	title: "Checkout"
	step: "2"
	nav:
		- title: "Customer information"
		- title: "Shipping method"
		  active: "true"
		- title: "Payment method"
	shippingAddress: "Anton Kolisnyk<br>195 Pymouth street<br>4/20<br>Brooklyn NY 11201<br>United States"
	deliveryList:
		- title: "Standard Shipping (Delivery by USPS in 15 Days)"
		  slug: "standard"
		  price: "Free"
		  active: true
		- title: "Fast Shipping (Delivery by Fedex in 5-7 Days)"
		  slug: "fast"
		  price: "$ 5.00"
		- title: "Extra Fast Shipping (Delivery by USPS in 5-7 Days)"
		  slug: "extra-fast"
		  price: "$ 25.00"

//---
