//---
	layout: layouts/checkout
	title: "Checkout"
	step: "3"
	nav:
		- title: "Customer information"
		- title: "Shipping method"
		- title: "Payment method"
		  active: "true"
	billingList:
		- title: "Same as shipping address"
		  slug: "same"
		  active: true
		- title: "Use a different billing address"
		  slug: "other"

//---