//---
	layout: layouts/frontPage
	bottleSeq:
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00039.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00040.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00041.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00042.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00043.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00044.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00045.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00046.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00047.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00048.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00049.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00050.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00051.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00052.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00053.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00054.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00055.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00056.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00057.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00058.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00059.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00060.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00061.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00062.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00063.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00064.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00065.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00066.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00067.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00068.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00069.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00070.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00071.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00072.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00073.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00074.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00075.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00076.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00077.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00078.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00079.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00080.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00081.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00082.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00083.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00084.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00085.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00086.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00087.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00088.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00089.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00090.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00091.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00092.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00093.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00094.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00095.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00096.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00097.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00098.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00099.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00100.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00101.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00102.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00103.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00104.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00105.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00106.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00107.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00108.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00109.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00110.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00111.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00112.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00113.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00114.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00115.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00116.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00117.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00118.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00135.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00136.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00137.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00138.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00139.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00140.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00141.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00142.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00143.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00144.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00145.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00146.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00147.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00148.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00149.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00150.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00151.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00152.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00153.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00154.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00155.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00156.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00157.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00158.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00159.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00160.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00161.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00162.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00163.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00164.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00165.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00166.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00167.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00168.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00169.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00170.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00171.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00172.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00173.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00174.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00175.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00176.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00177.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00178.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00179.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00180.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00181.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00182.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00183.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00184.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00185.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00186.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00187.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00188.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00189.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00190.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00191.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00192.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00193.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00194.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00195.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00196.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00197.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00198.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00199.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00200.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00201.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00202.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00203.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00204.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00205.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00206.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00207.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00208.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00209.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00210.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00211.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00212.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00213.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00214.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00215.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00216.png

//---
