//---
	layout: layouts/frontPage
	bottleSeq:
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00039.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00040.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00041.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00042.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00043.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00044.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00045.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00046.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00047.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00048.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00049.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00050.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00051.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00052.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00053.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00054.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00055.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00056.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00057.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00058.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00059.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00060.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00061.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00062.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00063.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00064.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00065.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00066.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00067.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00068.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00069.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00070.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00071.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00072.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00073.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00074.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00075.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00076.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00077.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00078.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00079.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00080.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00081.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00082.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00083.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00084.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00085.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00086.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00087.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00088.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00089.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00090.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00091.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00092.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00093.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00094.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00095.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00096.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00097.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00098.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00099.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00100.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00101.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00102.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00103.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00104.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00105.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00106.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00107.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00108.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00109.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00110.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00111.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00112.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00113.png
		- http://tmp.static.se7enapp.com/btbeverage/Btea%20alpha%20bottle%20_00114.png

//---
