//---
	layout: layouts/regSuccess
	title: "Your account has been created!"
	pageTitle: "Your account <br>has been created!"
	informer:
		text: "Please, cofirm your e-mail address."
		button:
			label: "Products"
			url: "/"

//---