//---
	layout: layouts/main
	title: "Styles"
//---

.container
	h1 Заголовок H1 <small>(44px)</small>
	h2 Заголовок H2 <small>(36px)</small>
	h3 Заголовок H3 <small>(26px)</small>
	h4 Заголовок H4 <small>(22px)</small>
	h5 Заголовок H5 <small>(20px)</small>
	h6 Заголовок H6 <small>(18px)</small>
	br
	h2.styled-title Modals
	mixin modal(modalName)
		p
			//- code &lt;a href=`#${modalName}` data-toggle="modal"&gt;Show `${modalName}`&lt;/a&gt;
			//- br
			a.btn.btn-bordered-grey(href=`#${modalName}` data-toggle="modal")= modalName

	+modal('login-modal')
	+modal('registration-modal')
	+modal('terms-modal')
	+modal('privacy-modal')
	br
	h2 Forms
	div(style="width:50%;")
		.form-group
			code input.form-control
			br
			input.form-control(type="email" placeholder="Email")
		.form-group.has-error
			input.form-control(type="email" placeholder="Email")
			.error-message Error message
		.form-group
			code .checkbox
			br
			.checkbox
				label
					input(type="checkbox")
					span Checkbox
		.form-group
			code .radio
			br
			.radio
				label
					input(type="radio" name="test-name" checked)
					span Radio 1
			.radio
				label
					input(type="radio" name="test-name")
					span Radio 2