//---
	layout: layouts/thanks
	title: "Thank you for your order!"
	pageTitle: "Thank you <br>for your order!"
	pageSubtitle: "Enjoy our blog"
	informer:
		text: "You will receive an email confirmation shortly at username@gmail.com"
		label: "Order number is <strong>312 613 100</strong>"

//---