.row
	display flex
	flex-wrap wrap
	margin 0 -10px

for item in 1..12
	.col-sm-{item}
		@media tablet_desktop
			width (100% / 12 * item)%
		@media phone
			width 100%
	@media phone
		.col-xs-{item}
			width (100% / 12 * item)%

[class^="col-"]
[class*=" col-"]
	padding 0 10px
