.slim-wrap
	margin-left auto
	margin-right auto
	@media desktop
		width 66%

.fade
	opacity 0
	transition opacity .2s linear
	&.in
		opacity 1

.color
	&-green
		color brandColor

.hidden
	&-xs
		@media phone
			display none !important

.visible
	&-xs
		@media tablet_desktop
			display none !important

.overflow-hidden
.overflow-hidden-modal
	overflow hidden
	position relative
	height 100%

#nprogress
	.bar
		top auto
		bottom 0
		height 10px
		background #56943E
	.peg
		display none
