extends page

append params
	- pageMod = "_about"

block pageContent
	if file.mission
		+b.content-widget._type-1._offset-bottom: +i({ data: file.mission })

	if file.philosophy
		+b.content-box: +i({ data: file.philosophy })

	if file.history
		+b.content-widget._type-2: +i({ data: file.history })