extends page

append params
	- bodyMod = "bg-white"

block pageContent
	if file.title
		h1.page__title.page__title_bottom-offset-sm!= file.title

	if file.nav
		+b.content-nav: +i({ data: file.nav })

	case file.state
		when "1"
			+b.order-list: +i({ data: orderList })

		when "1-1"
			+b.order-box: +i({ cartProducts: cartProducts })

		when "2"
			+b.addresses-box: +i({ data: addressList })

		when "2-1"
			+b("form").address-edit: +i

		when "3"
			+b("form").personal-data: +i

		when "4"
			+b("form").change-pass: +i