extends main

append params
	- headerDefault = false
	- headerMod = "header_simple"

block main
	+b.intro: +i({
		poster: "/assets/img/intro-cover.jpg",
		mp4: "http://tmp.static.se7enapp.com/bdsl/main.mp4"
	})
	//- mp4: "http://tmp.static.se7enapp.com/bdsl/main.mp4"

	+b.about: +i({
		bottleSeq: file.bottleSeq 
	})

	+b.media-widget._oriented-right: +i({
		title: "b-healthy",
		mainImage: "/assets/img/media-img-1.jpg",
		addImage: "/assets/img/media-img-sm-1.jpg",
		videoLink: {
			poster: "/assets/img/media-img-1.jpg",
			src: "http://tmp.static.se7enapp.com/bdsl/main.mp4"
		}
	})

	+b.media-widget._oriented-left: +i({
		title: "b-active",
		mainImage: "/assets/img/media-img-2.jpg",
		addImageMask: true
	})

	+b.media-widget._simple._offset-bottom: +i({
		title: "b-tea",
		mainImage: "/assets/img/media-img-3.jpg",
		hideAddImage: true,
		bottle: "/assets/img/bottle.png"
	})

	.container
		+b.content-heading: +i({
			title: "<span>Choose</span> <br><span>your flavor</span>",
			text: "<p>Each flavor is crisp, refreshing and fully satisfying.</p><p>Naturally!</p>"
		})

	+b.catalog: +i({ list: catalog })
