extends main

append params
	- headerDefault = false
	- headerMod = "header_simple"

block main
	+b.intro: +i({
		poster: "/assets/i/firstframe.jpg",
		mp4: "http://tmp.static.se7enapp.com/btbeverage/video/web-main.mp4"
	})

	+b.about(data-sequence="[0, 80]" data-sequence-duration="85%"): +i({ })
	
	+b.sequence-widget(data-sequence="[80, 163]" data-sequence-fin="true" data-sequence-duration="90%"): +i({
		title: "B-tea",
		content: "<p>Kombucha is a healthy and refreshing fermented tea with a long history.</p>" +
			"<p>For the past twenty years, B-tea has crafted Kombucha in the centuries-old tradition, using only raw and organic ingredients and a three-week primary fermentation. </p>" +
			"<p>The result is a delicious drink loaded with probiotics and amino acids, a healthy reward for your body and mind.</p>"
	})

	.container
		+b.content-heading: +i({
			title: "<span>Choose</span> <br><span>your flavor</span>",
			text: "<p>Each flavor is crisp, refreshing and fully satisfying. Naturally!</p>"
		})

	+b.catalog#catalog: +i({ list: catalog })
	
	+b.taste-button(data-trigger-class="about" data-stop-class="catalog"): +i({})
	
	+b.sequence
