extends main

append params
	- headerMod = "header_simple"

block main
	+b.intro: +i({
		poster: "/assets/img/intro-cover.jpg",
		mp4: "#"
	})
	//- mp4: "http://tmp.static.se7enapp.com/bdsl/main.mp4"
