extends main

append params
	- headerDefault = false
	- headerMod = "header_simple"

block main
	+b.intro: +i({
		poster: "/assets/i/intro-cover.jpg",
		mp4: "http://tmp.static.se7enapp.com/btbeverage/video/web-main-2.mp4"
	})

	+b.about(data-sequence="[0, 29]"): +i({ })

	+b.media-widget._oriented-right(data-sequence="[29, 70]"): +i({
		title: "b-healthy",
		mainImage: "/assets/i/media-img-1.jpg",
		addImage: "/assets/i/media-img-sm-1.jpg",
		videoLink: {
			src: "http://tmp.static.se7enapp.com/btbeverage/video/B-Healthy-2.mp4",
			poster: "/assets/i/media-img-1.jpg",
		}
	})

	+b.media-widget._oriented-left(data-sequence="[70, 148]"): +i({
		title: "b-active",
		mainImage: "/assets/i/media-img-2.jpg",
		addImageMask: true,
		videoLink: {
			src: "http://tmp.static.se7enapp.com/btbeverage/video/B-Active-2.mp4",
			poster: "/assets/i/media-img-2.jpg",
		}
	})

	+b.media-widget._simple._offset-bottom(data-sequence="[148, 176]" data-sequence-fin="true"): +i({
		title: "b-tea",
		mainImage: "/assets/i/media-img-3.jpg",
		hideAddImage: true,
		videoLink: {
			src: "http://tmp.static.se7enapp.com/btbeverage/video/B_Tea.mp4",
			poster: "/assets/i/media-img-3.jpg",
		}
	})

	.container
		+b.content-heading: +i({
			title: "<span>Choose</span> <br><span>your flavor</span>",
			text: "<p>Each flavor is crisp, refreshing and fully satisfying.</p><p>Naturally!</p>"
		})

	+b.catalog#catalog: +i({ list: catalog })
	
	+b.taste-button(data-screen-offset="0.5" data-duration="600%"): +i({})
	
	+b.sequence: +i({ sequence: file.bottleSeq })
