extends main

append params
	- headerDefault = false
	- headerMod = "header_simple"

block main
	+b.intro: +i({
		poster: "/assets/i/intro-cover.jpg",
		mp4: "http://tmp.static.se7enapp.com/bdsl/main.mp4"
	})
	//- mp4: "http://tmp.static.se7enapp.com/bdsl/main.mp4"

	+b.about(data-sequence="[0, 74]"): +i({ })

	+b.media-widget._oriented-right(data-sequence="[74, 150]"): +i({
		title: "b-healthy",
		mainImage: "/assets/i/media-img-1.jpg",
		addImage: "/assets/i/media-img-sm-1.jpg",
		videoLink: {
			poster: "/assets/i/media-img-1.jpg",
			src: "http://tmp.static.se7enapp.com/bdsl/main.mp4"
		}
	})

	+b.media-widget._oriented-left(data-sequence="[150, 242]"): +i({
		title: "b-active",
		mainImage: "/assets/i/media-img-2.jpg",
		addImageMask: true
	})

	+b.media-widget._simple._offset-bottom(data-sequence="[242, 358]" data-sequence-fin="true" data-sequence-duration="165%"): +i({
		title: "b-tea",
		mainImage: "/assets/i/media-img-3.jpg",
		hideAddImage: true,
	})

	.container
		+b.content-heading: +i({
			title: "<span>Choose</span> <br><span>your flavor</span>",
			text: "<p>Each flavor is crisp, refreshing and fully satisfying.</p><p>Naturally!</p>"
		})

	+b.catalog: +i({ list: catalog })
	
	+b.sequence: +i({ sequence: file.bottleSeq })
