extends root

block root
	- classes = []
	if headerMod
		- classes.push(headerMod)
	+b("header").header(class=classes): +i({
		menu: mainMenu,
		defaultState: headerDefault
	})

	main.main
		block main
			!= content

	+b("footer").footer: +i

block fonts

block styles

block scripts

block analytics
