extends root

block root
	- classes = []
	if headerMod
		- classes.push(headerMod)
	+b("header").header(class=classes): +i({
		menu: mainMenu,
		defaultState: headerDefault
	})

	main.main
		block main
			!= content

	+b("footer").footer: +i

	+b.modals: +i({
		cartList: cartProducts
	})

	script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=se7ensky")

block fonts

block styles

block scripts

block analytics
