extends root

block root
	- classes = []
	- bodyClasses = []
	if headerMod
		- classes.push(headerMod)
	if headerDefault
		- classes.push('header_default')
	+b("header").header(class=classes): +i({
		menu: mainMenu
	})
	if bodyMod
		- bodyClasses.push(bodyMod)

	main.main#barba-wrapper
		.barba-container(data-namespace="page" data-header-classes=classes data-body-class=bodyClasses)
			block main
				!= content

	+b("footer").footer: +i

	+b.modals: +i({
		cartList: cartProducts
	})

	script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=se7ensky")

block fonts

block styles

block scripts

block analytics
