.header
	position relative
	z-index 4
	padding 26px 0 27px
	background-color #fff
	box-shadow 0 5px 25px rgba(0,0,0,.05)
	@media tablet_desktop
		height 80px
	@media phone
		height 60px
	&_simple
		position absolute
		top 30px
		right 0
		left 0
		padding 0
		height auto
		box-shadow none
		background-color transparent
		.header__menu
			&-link
				color #fff
				&:hover
					color lighten(brandColor, 30%)
					.header__menu-badge
						color lighten(brandColor, 30%)
						&:before
							background-color lighten(brandColor, 30%)
	&_default
		.header
			&__logo
				@media tablet_desktop
					display block
			&__shadow
				display none
	&__wrap
		display flex
		justify-content center
		align-items center
	&__logo
		display none
		margin-right 15px
		width 20px
		height 27px
		text-decoration none
		&-image
			display block
	&__menu
		line-height 1
		@media tablet_desktop
			font-size 12px
		@media phone
			font-size 11px
			width 100%
		&-list
			display flex
			margin 0
			padding 0
			list-style none
			@media phone
				width 100%
				padding 0 10px
				justify-content space-between
		&-item
			@media tablet_desktop
				margin 0 15px
			@media phone
				margin 0
			&:last-child
				@media phone
					display none
		&-link
			color brandColor
			text-transform uppercase
			text-decoration none
			font-weight bold
			&:hover
				color siteColor
				.header__menu-badge
					color siteColor
					&:before
						background-color siteColor
		&-badge
			position relative
			padding-left 12px
			display inline-block
			color #b2b7b8
			transition .2s color ease-in-out
			&:before
				content ""
				position absolute
				top 50%
				left 5px
				width 3px
				height @width
				transform translateY(-50%)
				border-radius 50%
				background-color #b2b7b8
				transition .2s background-color ease-in-out
	& .container
		z-index 151
	&__shadow
		position absolute
		top -30px
		height 150px
		width 100%
		background radial-gradient(50% 150px at top, rgba(0, 0, 0, 0.8), transparent)
