.container
	+e.wrap
		if defaultState
			+e("a").logo(href="/")
				+e("img").logo-image(src=img("btea-logo.svg"), alt="" width="20" height="27")
		if menu
			+e("nav").menu
				+e("ul").menu-list
					each item in menu
						+e("li").menu-item
							if item.modal
								+e("a").menu-link(href=item.url, data-toggle="modal")
									= item.title
									if item.badge
										+e("span").menu-badge= item.badge
							else
								+e("a").menu-link(href=item.url)
									= item.title
									if item.badge
										+e("span").menu-badge= item.badge
unless defaultState
	+e.shadow
