.header
	position relative
	z-index 150
	&_simple
		position absolute
		top 30px
		right 0
		left 0
		.header__menu
			&-link
				color #fff
				&:hover
					color lighten(brandColor, 30%)
					.header__menu-badge
						color lighten(brandColor, 30%)
						&:before
							background-color lighten(brandColor, 30%)
	&__menu
		&-list
			display flex
			justify-content center
			margin 0
			padding 0
			list-style none
		&-item
			margin 0 15px
		&-link
			font-size 12px
			text-transform uppercase
			text-decoration none
		&-badge
			position relative
			padding-left 12px
			display inline-block
			color #b2b7b8
			transition .2s color ease-in-out
			&:before
				content ""
				position absolute
				top 4px
				left 5px
				width 3px
				height @width
				border-radius 50%
				background-color #b2b7b8
				transition .2s background-color ease-in-out
	& .container
		z-index 151
	&__shadow
		position absolute
		top -30px
		height 150px
		width 100%
		background radial-gradient(50% 150px at top, rgba(0, 0, 0, 0.8), transparent)
