.data-form
	@media tablet_desktop
		width 320px
		margin 0 auto 50px
	@media phone
		margin 0 auto
		max-width 320px
	&__footer
		margin-top 30px
		@media phone
			margin-left -20px
			margin-right @margin-left
	&__button
		display block
		width 100%